<!DOCTYPE HTML>
<html>
 <head>
 <title> Приветствие </title>
 </head>
 <body>
    <p>
   {% if name==''%}
   Введите имя, пожалуйста!
   {% else %}
    Привет,
    {% if gender == "m" %}
    студент
    {% elif gender == "w" %}
    студентка
    {% endif %}
    {{name}}!
    {% endif %}
    </p>
    <p>
      Ваша образовательная программа: {{program}}.
      </p>   
      <p>
         {% if len(subjects_select)==0 %}
         Вы не изучаете никаких дисциплин!
         {% else %}
            Вы изучаете дисциплины:
            {% for sub in subjects_select %}
                    <a href={{url_for('subject', sub=sub)}}>{{sub}}</a>{{", " if loop.index != len(subjects_select) else "."}}
                {% endfor %}
            {% endif %}
         </p>          
   </body> 
</html>